body {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

#app {
  display: flex;
  height: 100%;
}

aside {
  display: flex;
  flex-direction: column;
}

.sidebar-container {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  position: relative;
  padding-top: 60px;
  height: 100%;
  right: -17px;
  padding-right: 17px;
  overflow-y: scroll;

  padding-left: 0;
  @include tablet {
    padding-left: 60px;
  }
}

aside,
.sidebar-container {
  width: 230px;
  @include tablet {
    width: 290px;
  }
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  padding: 75px 20px 15vh 30px;
  min-width: 0;
  overflow: hidden;
}
