body {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

#demo {
  display: flex;
  height: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

aside, .sidebar {
  width: 200px;
  @include tablet {
    width: 250px;
  }
}

.sidebar {
  padding-left: 20px;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  padding: 75px 20px 15vh 20px;
  min-width: 0;
}
