@import "~bulma/sass/utilities/mixins";
@import "variables";

aside {
  border-right: 1px solid rgba(0, 0, 0, .07);
  min-height: 100vh;
}

.sidebar {

  // logo
  h1 {
    position: relative;
    margin: 25px 0 25px 0;
    font-size: 24px;

    .logo {
      position: absolute;
      width: 50px;
      height: 50px;
      left: -60px;
      top: -8px;
      background: url(../assets/favicon.png);
      background-size: contain;
      content: ' ';

      display: none;
      @include tablet {
        display: block;
      }
    }

    a {
      color: $title-color;
    }

    a:hover {
      color: $primary-color;
    }

  }

  // list items
  ul, li {
    padding: 0;
    margin: 0;
  }

  ul {
    margin: 0.2em 1em;
  }

  ul,
  .menu-list ul,
  .menu-list li ul {
    margin-right: 0;
  }

  // links
  .menu-list a {
    padding: .4em .8em;
    letter-spacing: 0.02em;
  }

  a {
    font-size: 0.85em;
  }

  .is-link-active {
    // background: hsl(0, 0%, 96%);

    &.is-link-exact {
      color: $primary-color;
    }
  }

  // items
  .item-page a:before,
  .item-code a:before {
    font-family: $icon-font;
    margin-right: .5em;
  }
  .item-code a:before {
    content: "\f108";
  }
  .item-page a:before {
    // content: "\f15c";
  }

  .item-code + .item-page {
    margin-top: 5px;
  }

  * + .item-menu-list,
  .item-page + .item-menu-list {
    margin-top: 10px;
    margin-left: 10px;
  }

}
