// fonts
$title-font: Merriweather, Times, serif;
$body-font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$mono-font: Roboto Mono, Monaco, Courier New, courier, monospace;
$icon-font: FontAwesome;

// colors
$primary-color: #25afaf;
$body-color: #2c3e50;
$text-color: #34495e;
